{% extends '_layouts/detail.njk' %}

{% block page_title %}Call me Ishmael{% endblock %}

{% block story %}
  <img src="img/kraken03.jpg" alt="pirate fighting kraken" class="img-fluid">
  <h2>Call me Ishmael</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed ante justo. Quisque finibus ultrices quam, quis porta est. Nulla fringilla purus sit amet ligula egestas, ac elementum quam porta. Fusce et posuere massa. Nam non enim feugiat, ultrices lacus vitae, lacinia nisi. Duis rhoncus ac mi ut euismod. Cras lobortis a odio eu lacinia. Nullam ut diam quis ex semper consectetur vel pellentesque eros. Maecenas mollis, felis non hendrerit egestas, magna tortor ultricies lorem, quis consequat risus tortor eget nulla. Nunc id rutrum justo.</p> 
  <p>Fusce lobortis blandit felis, vel ultrices ipsum tempor quis. Etiam lobortis suscipit ex, at vestibulum metus sodales eu. Curabitur et risus cursus, dignissim neque eget, convallis dui. Maecenas pulvinar bibendum dui ut placerat.</p>
  <p>Phasellus eu risus in dui iaculis auctor id vitae nisi. Maecenas euismod suscipit felis, quis efficitur augue pulvinar a. Sed placerat sollicitudin libero, fringilla vehicula felis pharetra et. Ut sagittis vestibulum lectus, non sodales orci porttitor at. Nunc arcu leo, vehicula a bibendum non, sollicitudin a lectus. Suspendisse consectetur tempus lacus, ut elementum arcu tempor a. Curabitur consectetur justo nec semper ornare. Donec dictum posuere nibh ac facilisis. Fusce sed maximus mauris. Donec dolor dolor, luctus eu ultrices ut, aliquam nec justo. Cras fringilla, libero at hendrerit euismod, lacus ligula tempus justo, ut volutpat mauris erat non neque. Suspendisse mattis dapibus dui, ut finibus nunc eleifend non.</p>
{% endblock %}
