{% extends '_layouts/detail.njk' %}

{% block page_title %}Fear the Kraken{% endblock %}

{% block story %}
  <img src="img/kraken02.jpg" alt="kraken holding ship" class="img-fluid">
  <h2>Fear the Kraken</h2>
  <p>Donec sed cursus magna. Donec velit metus, commodo sit amet nulla at, mollis vehicula enim. Etiam sed lacus lobortis, luctus risus vel, feugiat lorem. Donec facilisis sem sed enim aliquet aliquam. Ut luctus in tortor at laoreet. Aenean egestas eros et urna vestibulum, in condimentum dolor aliquam. In efficitur diam et dolor efficitur porta.</p>
  <p>Nullam eleifend vulputate orci. In facilisis tincidunt dolor, non hendrerit lectus rhoncus at. Vestibulum lacinia placerat lacus, sed iaculis mi tristique sit amet. Aliquam erat volutpat. Quisque vitae ultricies enim, ut mollis quam. Donec tincidunt, tortor in dignissim maximus, erat arcu tempus orci, id pulvinar arcu erat et dolor. Nulla at sapien eget nunc mattis aliquam non ultricies est.</p>
  <p>Etiam lobortis suscipit ex, at vestibulum metus sodales eu. Curabitur et risus cursus, dignissim neque eget, convallis dui. Maecenas pulvinar bibendum dui ut placerat.</p>
  <p>Nulla maximus turpis vitae enim accumsan laoreet. Suspendisse lobortis ultrices libero vel lobortis. Integer posuere dolor eu eros varius, ac viverra lorem interdum. Donec ut leo fringilla, venenatis massa et, vulputate ligula. Sed eget tempor sem, quis suscipit ex. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent hendrerit euismod dictum. Donec sit amet volutpat augue, non porttitor quam. Nullam mi libero, mattis vel massa nec, mattis molestie nibh. Maecenas in turpis ut urna porta placerat. Quisque eget fringilla nisi, et auctor lacus. Nullam ut lectus nibh. Praesent consequat, tellus lobortis vehicula accumsan, nibh nulla fermentum justo, non imperdiet nisl tellus nec est.</p>
{% endblock %}
