{% extends '_layouts/detail.njk' %}

{% block page_title %}It was a dark and stormy night{% endblock %}

{% block story %}
  <img src="img/kraken01.jpg" alt="kraken destroying ship" class="img-fluid">
  <h2>It was a dark and stormy night</h2>
  <p>In at magna ornare, tristique risus quis, accumsan purus. Duis dictum lorem lorem, vel scelerisque nunc posuere vitae. Nullam feugiat ullamcorper magna non euismod. Vestibulum id leo id tellus rhoncus dignissim. Suspendisse volutpat a ex tempus elementum. Integer laoreet, dui eget rhoncus efficitur, justo magna tempor magna, ac luctus ex enim at dolor. Integer erat ex, imperdiet et libero ac, facilisis efficitur lacus. Pellentesque molestie sagittis bibendum. Morbi lectus tortor, elementum non lectus eu, ullamcorper consectetur elit.</p>
  <p>Nulla maximus tristique neque vel tempor. Pellentesque feugiat tortor eget eros maximus rutrum. Ut nisl ante, dictum sed nunc porttitor, condimentum feugiat sem.</p>
  <p>Praesent cursus velit id lorem varius, vel hendrerit massa lobortis. Duis quis laoreet urna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent quis scelerisque ligula, eget hendrerit velit. Curabitur laoreet ante lectus, elementum placerat lorem viverra et. Aenean imperdiet arcu at massa vestibulum ultricies. Sed congue sollicitudin est commodo lobortis. Integer finibus velit diam, sed tincidunt nunc dictum vitae. Nam pharetra sodales urna, vitae lobortis justo auctor eu. Nulla vehicula vulputate euismod. Nunc ac bibendum felis, non suscipit mauris. Integer non euismod tellus. Pellentesque ac neque ut erat volutpat lobortis.</p>
  <p>In vitae ligula massa. Etiam sagittis tristique ipsum, quis volutpat eros dignissim eu. Ut commodo ac orci id accumsan. Nam erat urna, ornare vitae augue sit amet, bibendum maximus felis. Ut fringilla elementum rutrum. Etiam sed nisi enim. Cras id tellus cursus, ullamcorper neque nec, placerat dolor. In id ipsum accumsan, mollis nunc id, cursus ex.</p>
{% endblock %}
