{% extends '_layouts/detail.njk' %}

{% block page_title %}Oct. 20, 2018{% endblock %}

{% block info %}
  <p>Left column content</p>
{% endblock %}

{% block story %}
  <h2>Crit's Birthday</h2>
  <p>Zombie ipsum brains reversus ab cerebellum viral inferno, thalamus nam rick mend grimes malum cerveau cerebro.</p>
{% endblock %}
