{% extends '_layouts/base.njk' %}

{% block page_title %}The Pirate Life's for Me{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
    <h1>The Pirate Life's for Me</h1>
    <p class="author">By {% for author in authors %}
      <a href="{{ author.link }}" target="_blank">{{ author.name }}</a>{% if not loop.last %}{% if loop.revindex0 == 1 %} and {% else %}, {% endif %}{% endif %} {% endfor %}
      <br> Published {{ publish_date }}
    </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-10 offset-md-1">
      <p>
        Every wonder what it's like to travel the high seas. Read from a collection of short stories and journal entries chronicling the adventures of the fiercest pirate, Captain Crit McGillicutty. From travels in far away lands to battles with sea monsters, McGillicutty has seen and done it all. Visit often for regular updates from the Capt’n. 
      </p>
      {% for entry in data.entries %}
        <h3 class="entry-headline"><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
        <p class="entry-date">{{ entry.date }}</p>
        <hr>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
